@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

/* Fonts */
$montserrat: 'Montserrat', sans-serif;

/* Colors */
$darkBrown: #946c41;
$darkGreen: #265a36;
$lightBrown: #fddfb5;
$lightGreen: #51ca85;
$lightRed: #c64337;

/* Font size */
$XSsize: 10px;
$Ssize: 16px; 
$Msize: 32px;
$Lsize: 48px;
$XLsize: 64px;

/* Spacings */
$XLspace: 64px;
$Lspace: 32px;
$Mspace: 24px;
$Sspace: 16px;
$XSspace: 8px;